/* general styles */
* {
    box-sizing: border-box;
    font-family: Arial;
}
.cap_redraw{
    margin: 0;
}
.captcha_img{
   height: 39px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 10px 5px;
    margin: 0;
}

input[type="text"], input[type="password"], textarea, select {
    background-color: rgb(250, 255, 189);
    min-height: 32px;
    width: 100%;
}

.inputTxt {
    padding: 3px 5px;
    background: #fff;
    border: solid #9F9F9F 1px;
    color: #858585;
}

select {
    background-color: rgb(250, 255, 189) !important;
}


.button {
    width: 100%;
    background: #FF69A5;
    color: #fff;
    padding: 10px 0;
    border: 1px solid #EC008C;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    margin: 8px 0;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.main-wrap {
    height: 100%;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.active-main-wrap {
    display: flex;
}

.button-click {
    margin-top: 3%;
}

.int_b_content {
    margin-bottom: 5px;
}

.page-caption {
    font-size: 10pt;
    text-align: left;
    color: #EC008C;
}

.click-next-window {
    cursor: pointer;
}

.error-input {
    padding: 3px 5px;
    border: 2px solid #EC008C;
    color: #EC008C;
}

/* error label for input */
label.error-input {
    padding: inherit;
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: inherit;
    box-sizing: content-box;
    margin: 0 9px 0 0;
}


label.error-input {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    margin-right: 15px;
}

label.error-input:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #EC008C;
    background-color: rgb(250, 255, 189);
}

.check-in[type=checkbox]:checked + label.error-input:before {
    content: "\2713";
    font-size: 15px;
    color: #858585;
    text-align: center;
    line-height: 15px;
}
/* END error label for input */


.error-input::-webkit-input-placeholder {
    color: red;
}

.error-input:-moz-placeholder { /* Firefox 18- */
    color: red;
}

.error-input ::-moz-placeholder {  /* Firefox 19+ */
    color: red;
}

.error-input:-ms-input-placeholder {
    color: red;
}


.registration-form {
    height: 100%;
}

.massage-error {
    visibility: hidden;
    margin: 10px 0 0 10px;
}

/* END general styles */


/* floor block styles */
.floor-wrap .mens-floor {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.floor-block-caption {
    margin-bottom: 30px;
    color: #EC008C;
    text-align: center;
}

.borfer-floor {
    height: 300px;
    border: 5px solid #d9d9d9;
}

.mens-floor img {
    height: 200px;
    display: block;
}

.img-man {
    margin-right: 70px;
}

.img-woman {
    margin-left: 70px;
}
/* END floor block styles */


.number-description {
    margin: 15px 0 0 10px;
}

/* confirmation */
.entry-password-img {
    display: flex;
}

.img-password {
    display: inline-block;
    width: 100px;
    height: 20px;
    border: 1px solid black;
}

.set-img-password {
    height: 40px;
    margin-left: 10px;
}

.input-checkbox {
    display: flex;
    margin-top: 3%;
}


/* inpun[checkbox] */
.label-input-hidden {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    margin-right: 15px;
}

.label-input-hidden:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    border: 1px solid #9F9F9F;
    background-color: rgb(250, 255, 189);
}

.check-in[type=checkbox]:checked + .label-input-hidden:before {
    content: "\2713";
    font-size: 15px;
    color: #858585;
    text-align: center;
    line-height: 15px;
}

.check-in[type="checkbox"] {
    display: none;
}
/* END inpun[checkbox] */

.familiariz {
    color: #222;
}
/* END confirmation */